.notify {
    width: fit-content;
    position: relative;
    
}
.span {
    background-color:  rgb(242, 60, 60);
    text-align: center;
    padding: 1.5px;
    height: 18px;
    width: 20px;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 5px;
}
button {
    margin: 2rem 0 0 1.5rem;
    background-color: seagreen;
    border: none;
    padding: 5px 13px;
    font-family: sans-serif;
    border-radius: 5px;
    
    
}

button:hover , button:active {
    cursor: pointer;
    outline: none;
    padding: 7px 17px;
}   
